body {
    font-size: 14px;
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(100px) brightness(80%);
}